In [12]:
import os
os.getcwd()

'/Users/gurparshadbrar'

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

OBJECTIVES:
> This will include Some of the popular languages that Data Scientists use.
> This will include Some of the commonly used libraries used by Data Scientists.
> Data Science Tools.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. panda
2. numpy
3. ggplot

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| VS Code            |
| PyCharm            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [17]:
#This will convert 200 minutes to hours by diving by 60
min= 200
hour= min/60
hour

3.3333333333333335

## Author:
Gurparshad Singh Brar